<div class="content-container">
    <div  class="content-card">
      <h1>Your Personal Budget Tracker</h1>
      <p>
        The Personal Finance Tracker is designed to help you take control of your
        financial health by tracking your income, expenses, and savings goals all
        in one place. With an intuitive interface, this tool empowers you to make
        informed decisions, set budgets, and monitor your financial progress over
        time. Whether you're saving for a big purchase, planning for retirement,
        or just looking to manage your daily expenses more effectively, the
        Personal Finance Tracker provides insights and guidance to help you
        achieve your financial goals.
      </p>
      <p>Personal Finance Tracker simplifies financial management for everyone</p>
      <div class="mb-3">
        <p style="font-style: oblique">Get Started Here</p>
      </div>
      <div class="btn-group">
        <button  type="button" routerLink="/login" class="btn btn-outline-primary w-50" > LOGIN </button>
        <button type="button" routerLink="/signup" class="btn btn-outline-primary" >  SIGN UP </button>
      </div>
    </div>
  </div>
  
